//Bredde for indhold:

$content-width: 1080px;

//Skrifttyper:

$sans: "noto sans";



//Farver:

$dark: #070707;
// $medium: #37abc8;
$light: #fafafa;


//Media queries:

$xx: 300px;
$xs: 380px;
$sm: 600px;
$md: 750px;
$lg: 900px;
$xl: 1080px;